In [1]:
import pandas as pd
import requests
import json
import pickle

pd.set_option('display.max_rows', None)

In [4]:
#Reads in file

f = open("Ads5000", "rb")
ads = pickle.load(f)
f.close()

In [13]:
#creates a datafram derived from ads
df = pd.DataFrame(ads)
df.head()

,impressions,demographic_distribution,ad_creation_time,ad_delivery_start_time,delivery_by_region,estimated_audience_size,page_name,publisher_platforms,spend,id,ad_creative_link_description,ad_delivery_stop_time
0,"{'lower_bound': '1000', 'upper_bound': '1999'}","[{'percentage': '0.004557', 'age': '18-24', 'g...",2022-01-25,2022-01-25,"[{'percentage': '0.016578', 'region': 'Alabama...",{'lower_bound': '1000001'},MomsRising.org,"[facebook, instagram]","{'lower_bound': '0', 'upper_bound': '99'}",510093387113722,NaN,NaN
1,"{'lower_bound': '2000', 'upper_bound': '2999'}","[{'percentage': '0.000519', 'age': '25-34', 'g...",2022-01-25,2022-01-25,"[{'percentage': '0.026604', 'region': 'Alabama...",{'lower_bound': '1000001'},CPAC 2022,[facebook],"{'lower_bound': '0', 'upper_bound': '99'}",1010286123213947,NaN,NaN
2,"{'lower_bound': '0', 'upper_bound': '999'}",NaN,2022-01-25,2022-01-25,NaN,"{'lower_bound': '10001', 'upper_bound': '50000'}",David Livingston Scott County Magistrate- 7th ...,[facebook],"{'lower_bound': '0', 'upper_bound': '99'}",726465978738772,NaN,NaN
3,"{'lower_bound': '0', 'upper_bound': '999'}","[{'percentage': '0.003436', 'age': '18-24', 'g...",2022-01-25,2022-01-25,"[{'percentage': '1', 'region': 'Florida'}]",{'lower_bound': '1000001'},Miami's Community Newspapers,"[facebook, instagram]","{'lower_bound': '0', 'upper_bound': '99'}",1182151668859503,NaN,NaN
4,"{'lower_bound': '0', 'upper_bound': '999'}","[{'percentage': '0.021875', 'age': '25-34', 'g...",2022-01-21,2022-01-25,"[{'percentage': '0.025316', 'region': 'Alabama...",{'lower_bound': '1000001'},Pew Research Center,"[facebook, instagram]","{'lower_bound': '0', 'upper_bound': '99'}",466037478231880,NaN,NaN

In [6]:
# returns a dataframe with region distribution accoridng to dataframe and index
# parameter df is the dataframe you wish to use
# parameter index is the index of the dataframe want to get

def get_region_distribution(df, index):
    
#try except to catch indexes with no values 
    try:
        region_percentages = df.iloc[index].get('delivery_by_region')
        region_percentages_df =  pd.DataFrame(region_percentages)
        return region_percentages_df
    except:
        print('No value for index exists')

In [7]:
#returns a dataframe with demographic distribution accoridng to index

def get_demographic_distribution(df, index):

#try except to catch indexes with no values 
    try:
        demographic_distribution = df.iloc[index].get('demographic_distribution')
        demographic_distribution_df =  pd.DataFrame(demographic_distribution)
        return demographic_distribution_df
    except:
        print('No value for index exists')

In [10]:
# creates a dataframe where all rows have the same page_name

def get_page_df(page_name):
    
    page = df[df.get('page_name') == page_name]
    return page

In [11]:
# gets the page_name from df

def get_page_name(index):
    
    try: 
        page_name = df.iloc[index].get('page_name')
        return page_name
    except:
        print('No value for index exists')

Exploratory Research Ideas:

Political affiliation and confirmation bias with ads relating to COVID: 

    Gather the page names and compare the demographic distribution of each category:
    
    Four Categories: 
    1 - Republican
    2 - Democratic
    3 - Independent
    4 - Health Care
 
    Research Question: 
        Do predominantly blue states see more ads about COVID from democratic pages and do predominantly red states see more ads about COVID from Republican pages?
    
    Hypothesis: 
        People from predominanlty blue or red states will see more information about COVID from pages that are a part of the same category as their state.
    
    Comments: 
        - Talk about about confirmation bias 
        - Find disparity between a blue state with a red page, vice versa for each category
        - Compare how much money each category spends on ads
        - Compare impression of each category

In [12]:
#gets number of ads a page_name has created

number_of_ads = df.groupby('page_name').count().get('id').sort_values(ascending=False)
number_of_ads.head(9)

page_name
MoveOn                                  236
Alexandria Ocasio-Cortez                187
Democratic Party of Wisconsin           162
John Fetterman                          151
Beto O'Rourke                           139
Choose Healthy Life                     135
Ándale Qué Esperas                       95
American Jewish World Service - AJWS     75
Rand Paul                                70
Name: id, dtype: int64

In [116]:
# US representative for New York
democrat = get_page_df('Alexandria Ocasio-Cortez')

# republican senate of Kentucky
republican = get_page_df('Rand Paul')

In [108]:
get_region_distribution(democrat,0).sort_values(by='percentage',ascending=False)

   percentage                            region
30    0.24732                        California
6    0.102422                          New York
20   0.055975                        Washington
16   0.047241                             Texas
38   0.037316                          Illinois
47   0.034934                     Massachusetts
35   0.032156                           Florida
4    0.029377                        New Jersey
10   0.027789                            Oregon
31   0.026995                          Colorado
48   0.025407                          Michigan
46   0.024216                          Maryland
11   0.023025                      Pennsylvania
8    0.019452                              Ohio
19   0.019452                          Virginia
28   0.017864                           Arizona
7     0.01707                    North Carolina
32   0.016673                       Connecticut
49   0.015482                         Minnesota
5    0.013894                        New Mexico
22     0.0131                         Wisconsin
25     0.0131                          Missouri
15   0.011116                         Tennessee
40   0.008337                           Indiana
3    0.008337                     New Hampshire
41   0.007543                              Iowa
43   0.007146                          Kentucky
2    0.006749                            Nevada
36   0.006352                           Georgia
1    0.005955                      Rhode Island
37   0.005955                            Hawaii
34   0.005558  Washington, District of Columbia
42   0.005558                            Kansas
17   0.005558                              Utah
26   0.005558                            Alaska
44   0.005161                         Louisiana
13   0.005161                           Montana
27   0.005161                             Idaho
45   0.004764                             Maine
18   0.004367                           Vermont
12   0.004367                    South Carolina
29    0.00397                          Arkansas
0    0.003573                           Alabama
33   0.002779                          Delaware
21   0.002779                     West Virginia
24   0.002382                          Nebraska
9    0.001985                          Oklahoma
39   0.001191                       Mississippi
14   0.001191                      South Dakota
23   0.000794                           Wyoming
50   0.000397                      North Dakota

In [109]:
get_region_distribution(republican,0).sort_values(by='percentage',ascending=False)

   percentage                            region
18   0.091382                             Texas
36   0.061977                           Florida
31   0.060167                        California
10   0.040489                              Ohio
12   0.039358                      Pennsylvania
7    0.036643                          New York
37   0.031893                           Georgia
40   0.030988                          Illinois
49   0.028953                          Michigan
21   0.027369                        Washington
13   0.026917                          Missouri
41   0.026917                           Indiana
8    0.026465                    North Carolina
45   0.024881                         Louisiana
11   0.023976                          Oklahoma
23   0.023298                         Wisconsin
17   0.022846                         Tennessee
39   0.022619                         Minnesota
29   0.021488                           Arizona
44    0.02081                          Kentucky
32   0.020131                          Colorado
26   0.019679                           Alabama
5    0.019453                        New Jersey
25   0.018548                       Mississippi
20   0.016738                          Virginia
15    0.01606                    South Carolina
30   0.015155                          Arkansas
43   0.014929                            Kansas
1    0.014929                            Oregon
47   0.014703                          Maryland
42   0.011762                              Iowa
48   0.010857                     Massachusetts
22   0.010857                     West Virginia
38   0.010405                             Idaho
19   0.009726                              Utah
2    0.009726                          Nebraska
24   0.009048                           Montana
16   0.008595                      South Dakota
3    0.008369                            Nevada
33   0.007238                       Connecticut
28    0.00656                            Alaska
6     0.00656                        New Mexico
4    0.005655                     New Hampshire
46   0.005429                             Maine
50   0.005429                           Wyoming
9    0.004976                      North Dakota
34   0.003845                          Delaware
27   0.002036                            Hawaii
14    0.00181                      Rhode Island
0    0.001131                           Vermont
35   0.000226  Washington, District of Columbia

In [113]:
get_demographic_distribution(democrat,0).sort_values(by='percentage',ascending=False)

   percentage    age   gender
7    0.257258    65+     male
4    0.164919  55-64     male
8    0.164516    65+   female
5    0.124194  45-54     male
2    0.089113  55-64   female
6    0.077823  35-44     male
10   0.043548  45-54   female
1       0.025  25-34     male
11   0.022984  35-44   female
9    0.008468    65+  unknown
12   0.006855  25-34   female
13   0.005645  45-54  unknown
0    0.004435  55-64  unknown
3    0.002823  35-44  unknown
14    0.00121  18-24   female
15    0.00121  18-24     male

In [114]:
get_demographic_distribution(republican,0).sort_values(by='percentage',ascending=False)

   percentage    age   gender
6    0.261298    65+     male
1    0.220582    65+   female
5    0.204698  55-64     male
8    0.096421  55-64   female
7    0.094183  45-54     male
11   0.047204  35-44     male
12   0.026622  25-34     male
10   0.024609  45-54   female
4    0.008949  35-44   female
15   0.004251  25-34   female
16   0.003356    65+  unknown
13   0.002685  55-64  unknown
14   0.002237  18-24     male
9    0.000895  45-54  unknown
3    0.000895  18-24   female
2    0.000671  35-44  unknown
0    0.000447  25-34  unknown