In [1]:
from transformers import pipeline
import pickle
import json
import pandas as pd
import ast


import tensorflow as tf
import tensorflow_hub as hub
#import tensorflow_text as text

/Users/emilychen/opt/anaconda3/envs/fbads/lib/python3.7/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
import requests
from bs4 import BeautifulSoup
import re

In [4]:
f = open("Ads10000_election", "rb")
ads = pickle.load(f)
f.close()

# 1000 Election Ads

In [5]:
# use new dataset elections
df = pd.json_normalize(ads)
df.fillna(0, inplace = True)
df = df[df.get('ad_creative_link_descriptions') != 0]
df['ad_creative_link_descriptions'] = df.get('ad_creative_link_descriptions').apply(lambda x: x[0])
print(df.shape)
df.head()

(7416, 16)

,ad_creation_time,ad_creative_bodies,ad_creative_link_captions,ad_creative_link_descriptions,ad_creative_link_titles,ad_delivery_start_time,ad_delivery_stop_time,id,estimated_audience_size.lower_bound,impressions.lower_bound,impressions.upper_bound,spend.lower_bound,spend.upper_bound,delivery_by_region,demographic_distribution,estimated_audience_size.upper_bound
0,2021-02-01,[County closes downtown San Diego vaccine site...,[https://apps.apple.com/us/app/smartnews-local...,‎SmartNews is the award-winning news app downl...,[News for San Diego County],2021-02-01,2021-02-04,711213506429873,1000001,0,999,0,99,0,0,0
1,2021-02-01,[County closes downtown San Diego vaccine site...,[https://apps.apple.com/us/app/smartnews-local...,‎SmartNews is the award-winning news app downl...,[News for San Diego County],2021-02-01,2021-02-01,127634835910715,1000001,0,999,0,99,0,0,0
2,2021-02-01,[County closes downtown San Diego vaccine site...,[https://apps.apple.com/us/app/smartnews-local...,‎SmartNews is the award-winning news app downl...,[News for San Diego County],2021-02-01,2021-02-04,3821823704574505,1000001,0,999,0,99,0,0,0
3,2021-02-01,[County closes downtown San Diego vaccine site...,[https://apps.apple.com/us/app/smartnews-local...,‎SmartNews is the award-winning news app downl...,[News for San Diego County],2021-02-01,2021-02-03,745901799329077,1000001,0,999,0,99,0,0,0
4,2021-02-01,[County closes downtown San Diego vaccine site...,[https://apps.apple.com/us/app/smartnews-local...,‎SmartNews is the award-winning news app downl...,[News for San Diego County],2021-02-01,2021-02-03,172031037686911,1000001,0,999,0,99,0,0,0

## Sentiment Analysis

In [ ]:
new_df = pd.read_csv('emily.csv.crdownload')

In [6]:
def find_label(x):
    for class_dict in classifier(x[:512]):
        return(class_dict['label'])

In [25]:
classifier = pipeline("sentiment-analysis")

No model was supplied, defaulted to distilbert-base-uncased-finetuned-sst-2-english (https://huggingface.co/distilbert-base-uncased-finetuned-sst-2-english)
Some layers from the model checkpoint at distilbert-base-uncased-finetuned-sst-2-english were not used when initializing TFDistilBertForSequenceClassification: ['dropout_19']
- This IS expected if you are initializing TFDistilBertForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing TFDistilBertForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
Some layers of TFDistilBertForSequenceClassification were not initialized from the model checkpoint at distilbert-base-uncased-finetuned-sst-2-english and are newly initialized: ['dropout_39']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

In [33]:
classifier('governmentmandated')

[{'label': 'NEGATIVE', 'score': 0.993009090423584}]

In [9]:
df['sentiment'] = df.get('ad_creative_link_descriptions').apply(find_label)
df.head()

,ad_creation_time,ad_creative_bodies,ad_creative_link_captions,ad_creative_link_descriptions,ad_creative_link_titles,ad_delivery_start_time,ad_delivery_stop_time,id,estimated_audience_size.lower_bound,impressions.lower_bound,impressions.upper_bound,spend.lower_bound,spend.upper_bound,delivery_by_region,demographic_distribution,estimated_audience_size.upper_bound,sentiment
0,2021-02-01,[County closes downtown San Diego vaccine site...,[https://apps.apple.com/us/app/smartnews-local...,‎SmartNews is the award-winning news app downl...,[News for San Diego County],2021-02-01,2021-02-04,711213506429873,1000001,0,999,0,99,0,0,0,POSITIVE
1,2021-02-01,[County closes downtown San Diego vaccine site...,[https://apps.apple.com/us/app/smartnews-local...,‎SmartNews is the award-winning news app downl...,[News for San Diego County],2021-02-01,2021-02-01,127634835910715,1000001,0,999,0,99,0,0,0,POSITIVE
2,2021-02-01,[County closes downtown San Diego vaccine site...,[https://apps.apple.com/us/app/smartnews-local...,‎SmartNews is the award-winning news app downl...,[News for San Diego County],2021-02-01,2021-02-04,3821823704574505,1000001,0,999,0,99,0,0,0,POSITIVE
3,2021-02-01,[County closes downtown San Diego vaccine site...,[https://apps.apple.com/us/app/smartnews-local...,‎SmartNews is the award-winning news app downl...,[News for San Diego County],2021-02-01,2021-02-03,745901799329077,1000001,0,999,0,99,0,0,0,POSITIVE
4,2021-02-01,[County closes downtown San Diego vaccine site...,[https://apps.apple.com/us/app/smartnews-local...,‎SmartNews is the award-winning news app downl...,[News for San Diego County],2021-02-01,2021-02-03,172031037686911,1000001,0,999,0,99,0,0,0,POSITIVE

In [10]:
#neg_sent = df[df.get('sentiment') == 'NEGATIVE']
#print(neg_sent.shape)
#neg_sent.head()

# Visualizing Positive Ads

In [11]:
df['impressions.lower_bound'] = df.get('impressions.lower_bound').apply(lambda x: int(x))
df['impressions.upper_bound'] = df.get('impressions.upper_bound').apply(lambda x: int(x))
df['average_est_impressions'] = (df['impressions.lower_bound'] + df['impressions.upper_bound'])/2
df.head()

,ad_creation_time,ad_creative_bodies,ad_creative_link_captions,ad_creative_link_descriptions,ad_creative_link_titles,ad_delivery_start_time,ad_delivery_stop_time,id,estimated_audience_size.lower_bound,impressions.lower_bound,impressions.upper_bound,spend.lower_bound,spend.upper_bound,delivery_by_region,demographic_distribution,estimated_audience_size.upper_bound,sentiment,average_est_impressions
0,2021-02-01,[County closes downtown San Diego vaccine site...,[https://apps.apple.com/us/app/smartnews-local...,‎SmartNews is the award-winning news app downl...,[News for San Diego County],2021-02-01,2021-02-04,711213506429873,1000001,0,999,0,99,0,0,0,POSITIVE,499.5
1,2021-02-01,[County closes downtown San Diego vaccine site...,[https://apps.apple.com/us/app/smartnews-local...,‎SmartNews is the award-winning news app downl...,[News for San Diego County],2021-02-01,2021-02-01,127634835910715,1000001,0,999,0,99,0,0,0,POSITIVE,499.5
2,2021-02-01,[County closes downtown San Diego vaccine site...,[https://apps.apple.com/us/app/smartnews-local...,‎SmartNews is the award-winning news app downl...,[News for San Diego County],2021-02-01,2021-02-04,3821823704574505,1000001,0,999,0,99,0,0,0,POSITIVE,499.5
3,2021-02-01,[County closes downtown San Diego vaccine site...,[https://apps.apple.com/us/app/smartnews-local...,‎SmartNews is the award-winning news app downl...,[News for San Diego County],2021-02-01,2021-02-03,745901799329077,1000001,0,999,0,99,0,0,0,POSITIVE,499.5
4,2021-02-01,[County closes downtown San Diego vaccine site...,[https://apps.apple.com/us/app/smartnews-local...,‎SmartNews is the award-winning news app downl...,[News for San Diego County],2021-02-01,2021-02-03,172031037686911,1000001,0,999,0,99,0,0,0,POSITIVE,499.5

In [12]:
region_df = pd.DataFrame()

In [13]:
for index, row in df.iterrows():
    if row['delivery_by_region'] == 0:
        continue
    else:
        d = pd.DataFrame(row['delivery_by_region'])
        d['percentage'] = d.get('percentage').apply(float)
        d['impressions_per_state'] = d.get('percentage') * row['average_est_impressions']
        
        region_df = region_df.append(d)
        
region_df.head()

   percentage         region  impressions_per_state
0    0.019284          Maine               9.632358
1    0.801653  Massachusetts             400.425673
2    0.179063  New Hampshire              89.441969
0    0.002398       Colorado               3.595801
1    0.025580           Ohio              38.357210

In [14]:
region_df = region_df.groupby('region').mean().reset_index()
region_df.head()

         region  percentage  impressions_per_state
0  'Asir Region    0.000141              14.823679
1        Aargau    0.000060               1.349970
2    Abia State    0.000720              36.955740
3       Abidjan    0.005369             124.537316
4      Abkhazia    0.000253               1.897374

In [7]:
us_states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Washington, District of Columbia', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']

In [16]:
region_df = region_df[region_df.get('region').isin(us_states) == True]
region_df.get('region').iloc[47] = 'District of Columbia'
region_df.sort_values(by = 'region', inplace = True)

In [17]:
import altair as alt
import geopandas as gpd
import json
from vega_datasets import data
pop = data.population_engineers_hurricanes()
region_df['id'] = list(pop.get('id'))[:-1]
region_df.head()

                    region  percentage  impressions_per_state  id
48                 Alabama    0.033398             615.546153   1
51                  Alaska    0.006507             138.524836   2
104                Arizona    0.121322            1974.587615   4
105               Arkansas    0.018962             378.694817   5
301             California    0.153737            3525.707001   6
394               Colorado    0.037807             882.722939   8
401            Connecticut    0.014494             333.835844   9
445               Delaware    0.017203            1030.791262  10
1807  District of Columbia    0.013709            1148.442081  11
550                Florida    0.171092            3407.442676  12
579                Georgia    0.114749            3556.880885  13
662                 Hawaii    0.005913             184.986245  15
699                  Idaho    0.012014             198.656329  16
703               Illinois    0.127350            3788.685378  17
708                Indiana    0.057111             673.827828  18
710                   Iowa    0.034196             707.160697  19
782                 Kansas    0.025435             465.500103  20
817               Kentucky    0.029265             533.093577  21
938              Louisiana    0.029692             748.937684  22
973                  Maine    0.038975             587.518422  23
1009              Maryland    0.051419             703.771325  24
1016         Massachusetts    0.092502            1010.625971  25
1041              Michigan    0.192076            2630.187266  26
1048             Minnesota    0.035923            1508.802539  27
1054           Mississippi    0.020625             378.069100  28
1055              Missouri    0.031320             840.389925  29
1070               Montana    0.013042             655.510639  30
1139              Nebraska    0.054781            1215.401966  31
1143                Nevada    0.033023             425.541443  32
1145         New Hampshire    0.050736             399.352353  33
1147            New Jersey    0.051076            1779.960778  34
1148            New Mexico    0.012756             239.609193  35
1153              New York    0.110497            3207.030424  36
1179        North Carolina    0.172028            2868.490385  37
1181          North Dakota    0.010775             122.136683  38
1225                  Ohio    0.097220            1862.940554  39
1227              Oklahoma    0.018812             426.626524  40
1236                Oregon    0.033167             469.964650  41
1291          Pennsylvania    0.197393            3569.017134  42
1396          Rhode Island    0.011609             634.328904  44
1582        South Carolina    0.018284             512.444117  45
1583          South Dakota    0.006401             137.289563  46
1675             Tennessee    0.042204             677.362524  47
1680                 Texas    0.193828            3599.611447  48
1744                  Utah    0.013096             257.728073  49
1776               Vermont    0.003085              66.108405  50
1787              Virginia    0.036524             852.751341  51
1806            Washington    0.032814             757.388892  53
1823         West Virginia    0.018804             345.298103  54
1838             Wisconsin    0.123437            1517.691885  55
1841               Wyoming    0.003236              89.365916  56

In [18]:
alt.renderers.enable('default')

RendererRegistry.enable('default')

In [19]:
states = alt.topo_feature(data.us_10m.url, feature='states')

alt.Chart(states).mark_geoshape(
    fill='lightgray',
    stroke='white'
).project('albersUsa').properties(
    width=500,
    height=300
)

alt.Chart(...)

In [20]:
from vega_datasets import data

states = alt.topo_feature(data.us_10m.url, 'states')

variable_list = ['percentage', 'impressions_per_state']

# Creating configs for color,selection,hovering
hover = alt.selection(type='single', on='mouseover', nearest=True,
                      fields=['x', 'y'])

plot = alt.Chart(states).mark_geoshape().encode(
    color='impressions_per_state:Q'
).transform_lookup(
    lookup='id',
    from_=alt.LookupData(region_df, 'id', list(region_df.columns))
).properties(
    width=500,
    height=300
).project(
    type='albersUsa'
)

outline = alt.Chart(states).mark_geoshape(stroke='black', fillOpacity=0).project(
    type='albersUsa'
).properties(
    width=500,
    height=300
)

alt.layer(plot,outline)

alt.LayerChart(...)

In [21]:
df.shape

(7416, 18)

In [22]:
df[df.get('sentiment') == 'NEGATIVE'].shape

(2511, 18)

# Hypothesis Test: Election Data

In [8]:
new_df = pd.read_csv('emily.csv.crdownload')
new_df.head()

,Unnamed: 0,ad_creative_bodies,demographic_distribution,delivery_by_region,estimated_audience_size,spend,impressions,cumulative_impressions_by_region,cum_spend
0,0,,"[[{'percentage': '0.000876', 'age': '45-54', '...","[[{'percentage': '1', 'region': 'New York'}], ...","[{'lower_bound': '10001', 'upper_bound': '5000...","[{'lower_bound': '300', 'upper_bound': '399'},...","[{'lower_bound': '8000', 'upper_bound': '8999'...","{'New York': 28498.5, 'Georgia': 7999.0, 'Conn...",1347.5
1,1,!!!The government cannot fight CORRUPTION - th...,"[[{'percentage': '0.000933', 'age': '18-24', '...","[[{'percentage': '0.00185', 'region': 'Rhode I...",[{'lower_bound': '1000001'}],"[{'lower_bound': '0', 'upper_bound': '99'}]","[{'lower_bound': '1000', 'upper_bound': '1999'}]","{'Rhode Island': 1499.5, 'New York': 1499.5, '...",49.5
2,2,!!🚨Endorsement Alert🚨!! \n\nThank you Byron Po...,"[[{'percentage': '0.004039', 'age': '65+', 'ge...","[[{'percentage': '0.002281', 'region': 'Unknow...","[{'lower_bound': '100001', 'upper_bound': '500...","[{'lower_bound': '100', 'upper_bound': '199'}]","[{'lower_bound': '2000', 'upper_bound': '2999'}]","{'Unknown': 2499.5, 'New Mexico': 2499.5}",149.5
3,3,""" An astute CPA told me 45 years ago, Math nev...","[[{'percentage': '0.00112', 'age': '18-24', 'g...","[[{'percentage': '1', 'region': 'Ohio'}], [{'p...","[{'lower_bound': '100001', 'upper_bound': '500...","[{'lower_bound': '0', 'upper_bound': '99'}, {'...","[{'lower_bound': '2000', 'upper_bound': '2999'...",{'Ohio': 5999.0},99.0
4,4,"""....Framingham should not go back to the ways...","[[{'percentage': '0.004255', 'age': '45-54', '...","[[{'percentage': '1', 'region': 'Massachusetts...","[{'lower_bound': '50001', 'upper_bound': '1000...","[{'lower_bound': '0', 'upper_bound': '99'}, {'...","[{'lower_bound': '0', 'upper_bound': '999'}, {...","{'Massachusetts': 999.0, 'Connecticut': 499.5,...",99.0

In [9]:
new_df['sentiment'] = new_df.get('ad_creative_bodies').apply(find_label)

In [10]:
new_df['cumulative_impressions_by_region'] = new_df['cumulative_impressions_by_region'].apply(ast.literal_eval)

In [11]:
new_df.head()

,Unnamed: 0,ad_creative_bodies,demographic_distribution,delivery_by_region,estimated_audience_size,spend,impressions,cumulative_impressions_by_region,cum_spend,sentiment
0,0,,"[[{'percentage': '0.000876', 'age': '45-54', '...","[[{'percentage': '1', 'region': 'New York'}], ...","[{'lower_bound': '10001', 'upper_bound': '5000...","[{'lower_bound': '300', 'upper_bound': '399'},...","[{'lower_bound': '8000', 'upper_bound': '8999'...","{'New York': 28498.5, 'Georgia': 7999.0, 'Conn...",1347.5,POSITIVE
1,1,!!!The government cannot fight CORRUPTION - th...,"[[{'percentage': '0.000933', 'age': '18-24', '...","[[{'percentage': '0.00185', 'region': 'Rhode I...",[{'lower_bound': '1000001'}],"[{'lower_bound': '0', 'upper_bound': '99'}]","[{'lower_bound': '1000', 'upper_bound': '1999'}]","{'Rhode Island': 1499.5, 'New York': 1499.5, '...",49.5,NEGATIVE
2,2,!!🚨Endorsement Alert🚨!! \n\nThank you Byron Po...,"[[{'percentage': '0.004039', 'age': '65+', 'ge...","[[{'percentage': '0.002281', 'region': 'Unknow...","[{'lower_bound': '100001', 'upper_bound': '500...","[{'lower_bound': '100', 'upper_bound': '199'}]","[{'lower_bound': '2000', 'upper_bound': '2999'}]","{'Unknown': 2499.5, 'New Mexico': 2499.5}",149.5,POSITIVE
3,3,""" An astute CPA told me 45 years ago, Math nev...","[[{'percentage': '0.00112', 'age': '18-24', 'g...","[[{'percentage': '1', 'region': 'Ohio'}], [{'p...","[{'lower_bound': '100001', 'upper_bound': '500...","[{'lower_bound': '0', 'upper_bound': '99'}, {'...","[{'lower_bound': '2000', 'upper_bound': '2999'...",{'Ohio': 5999.0},99.0,POSITIVE
4,4,"""....Framingham should not go back to the ways...","[[{'percentage': '0.004255', 'age': '45-54', '...","[[{'percentage': '1', 'region': 'Massachusetts...","[{'lower_bound': '50001', 'upper_bound': '1000...","[{'lower_bound': '0', 'upper_bound': '99'}, {'...","[{'lower_bound': '0', 'upper_bound': '999'}, {...","{'Massachusetts': 999.0, 'Connecticut': 499.5,...",99.0,POSITIVE

In [12]:
df_list = []
for index, row in new_df.iterrows():
    curr_dict = row['cumulative_impressions_by_region']
    d = pd.DataFrame({'region': curr_dict.keys(), 'impressions': curr_dict.values()})
    d['sentiment'] = row['sentiment']
        
    df_list.append(d)
print(len(df_list))

11737

In [13]:
z_test_table = pd.concat(df_list, ignore_index = True)

In [14]:
z_test_table = z_test_table[z_test_table['region'].isin(us_states)]
z_test_table.head()

          region  impressions sentiment
0       New York      28498.5  POSITIVE
1        Georgia       7999.0  POSITIVE
2    Connecticut      74999.5  POSITIVE
3  Massachusetts      74999.5  POSITIVE
4         Alaska       2499.5  POSITIVE

In [15]:
z_test_table.shape

(139880, 3)

In [16]:
# based on 2020 election
right_wing = ['Alabama', 'Alaska', 'Arkansas', 'Florida', 'Idaho', 'Indiana', 
              'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Mississippi', 'Missouri', 
              'Montana', 'Nebraska', 'North Carolina', 'North Dakota', 'Ohio', 
              'Oklahoma', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 
              'Utah', 'West Virginia', 'Wyoming']
left_wing = ['Arizona', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Georgia', 
             'Hawaii', 'Illinois', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 
             'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'Oregon', 
             'Pennsylvania', 'Rhode Island', 'Vermont', 'Virginia', 'Washington', 'Wisconsin']

In [17]:
z_test_table[z_test_table['sentiment'] == 'NEGATIVE'].head()

          region  impressions sentiment
47  Rhode Island       1499.5  NEGATIVE
48      New York       1499.5  NEGATIVE
49        Kansas       1499.5  NEGATIVE
50     Louisiana       1499.5  NEGATIVE
51         Maine       1499.5  NEGATIVE

In [18]:
# total number of ads in right wing
print(z_test_table[z_test_table['region'].isin(right_wing)].shape)

(65623, 3)

In [19]:
# total number of ads in left wing
print(z_test_table[z_test_table['region'].isin(left_wing)].shape)

(72032, 3)

In [20]:
# number of negative ads in right wing
z_test_table[(z_test_table['region'].isin(right_wing)) 
             & (z_test_table['sentiment'] == 'NEGATIVE')].shape

(27323, 3)

In [21]:
# number of negative ads in left wing
z_test_table[z_test_table['region'].isin(left_wing) 
             & (z_test_table['sentiment'] == 'NEGATIVE')].shape

(29535, 3)

In [23]:
import numpy as np
from statsmodels.stats.proportion import proportions_ztest

In [24]:
count = [27323, 29535]# negative ads for both wings 
nobs = [65623, 72032] # total ads in left wing, total ads in right wing 
value = 0.05
stat, pval = proportions_ztest(count, nobs, value)
print(pval)

1.1176265238120677e-60

# Hypothesis Test - Vaccines

In [35]:
vaccines = pd.read_csv('emily_vaccine.csv')
vaccines.head()

,Unnamed: 0,ad_creative_bodies,demographic_distribution,delivery_by_region,estimated_audience_size,spend,impressions,cumulative_impressions_by_region,cum_spend
0,0,,"[[{'percentage': '0.001006', 'age': '13-17', '...","[[{'percentage': '0.001516', 'region': 'Rhode ...","[{'lower_bound': '5001', 'upper_bound': '10000...","[{'lower_bound': '1000', 'upper_bound': '1499'...","[{'lower_bound': '25000', 'upper_bound': '2999...","{'Rhode Island': 2231992.5, 'Oregon': 2231992....",48641.0
1,1,!!!!!!!!!!!!!!!!!!!!,"[[{'percentage': '4.9E-5', 'age': '18-24', 'ge...","[[{'percentage': '0.034184', 'region': 'Alabam...",[{'lower_bound': '1000001'}],"[{'lower_bound': '0', 'upper_bound': '99'}]","[{'lower_bound': '25000', 'upper_bound': '2999...","{'Alabama': 27499.5, 'Rhode Island': 27499.5, ...",49.5
2,2,"""'Safe, potent, & effective' - those three wor...","[[{'percentage': '5.4E-5', 'age': '13-17', 'ge...","[[{'percentage': '0.000163', 'region': 'Unknow...",[{'lower_bound': '1000001'}],"[{'lower_bound': '300', 'upper_bound': '399'}]","[{'lower_bound': '15000', 'upper_bound': '1999...","{'Unknown': 17499.5, 'Pennsylvania': 17499.5, ...",349.5
3,3,"""1 in 500 Americans have died from COVID-19. O...","[[{'percentage': '0.000943', 'age': '45-54', '...","[[{'percentage': '1', 'region': 'Texas'}], [{'...","[{'lower_bound': '10001', 'upper_bound': '5000...","[{'lower_bound': '0', 'upper_bound': '99'}, {'...","[{'lower_bound': '1000', 'upper_bound': '1999'...",{'Texas': 17496.5},346.5
4,4,"""A patent seizure is largely symbolic rather t...","[[{'percentage': '0.000456', 'age': '18-24', '...","[[{'percentage': '0.01887', 'region': 'Alabama...",[{'lower_bound': '1000001'}],"[{'lower_bound': '200', 'upper_bound': '299'}]","[{'lower_bound': '20000', 'upper_bound': '2499...","{'Alabama': 22499.5, 'Rhode Island': 22499.5, ...",249.5

In [36]:
vaccines['sentiment'] = vaccines.get('ad_creative_bodies').apply(find_label)
vaccines['cumulative_impressions_by_region'] = vaccines['cumulative_impressions_by_region'].apply(ast.literal_eval)

In [37]:
vacc_df_list = []
for index, row in vaccines.iterrows():
    curr_dict = row['cumulative_impressions_by_region']
    d = pd.DataFrame({'region': curr_dict.keys(), 'impressions': curr_dict.values()})
    d['sentiment'] = row['sentiment']
        
    vacc_df_list.append(d)
print(len(vacc_df_list))

7248

In [38]:
vacc_z_test_table = pd.concat(vacc_df_list, ignore_index = True)
vacc_z_test_table = vacc_z_test_table[vacc_z_test_table['region'].isin(us_states)]
vacc_z_test_table.head()

          region  impressions sentiment
0   Rhode Island    2231992.5  POSITIVE
1         Oregon    2231992.5  POSITIVE
2       Nebraska    2231992.5  POSITIVE
3         Nevada    2231992.5  POSITIVE
4  New Hampshire    2231992.5  POSITIVE

In [39]:
# total number of ads in right wing
print(vacc_z_test_table[vacc_z_test_table['region'].isin(right_wing)].shape)

(63620, 3)

In [40]:
# total number of ads in left wing
print(vacc_z_test_table[vacc_z_test_table['region'].isin(left_wing)].shape)

(65936, 3)

In [41]:
# number of negative ads in right wing
vacc_z_test_table[(vacc_z_test_table['region'].isin(right_wing)) 
             & (vacc_z_test_table['sentiment'] == 'NEGATIVE')].shape

(37398, 3)

In [42]:
# number of negative ads in left wing
vacc_z_test_table[vacc_z_test_table['region'].isin(left_wing) 
             & (vacc_z_test_table['sentiment'] == 'NEGATIVE')].shape

(38660, 3)

In [43]:
count = [38660, 37398]# negative ads for both wings 
nobs = [65936, 63620] # total ads in left wing, total ads in right wing 
value = 0.05
stat, pval = proportions_ztest(count, nobs, value)
print(pval)

4.77276290716531e-79